@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-josefin-sans: "Josefin Sans", serif;
  --font-newsreader: "Newsreader", serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffd770;
  background-color: #060037;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
